* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
    list-style-type: none;
}

.inputNotValid {
  background-color: coral;
  border: 2px solid red;
}

.hideElement {
  visibility: hidden;
}