* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
    list-style-type: none;
}

.hideElement {
  visibility: hidden;
}

.invalidInput {
  background-color: red;
  color: white;
}

.validResult {
  background-color: rgb(19, 156, 7);
  color: white;
  text-align: center;
}